#container{
    column-count: 2;
    padding: 0 380px;
    margin-top: 70px;
    /* column-gap: -100px; */
}

img{
    height: 200px;
    width: 250px;
    margin-bottom: 1px;
    border: 2px solid black;
}
.pic1{
    border-bottom-right-radius: 30px;
}
.pic3{
    border-bottom-left-radius: 30px;
}
.pic2{
    border-top-right-radius: 30px;
}
.pic4{
    border-top-left-radius: 30px;
}